.main-window-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  border: 1px solid var(--mat-sys-outline);

  > * {
    flex: 1;
    height: 100%;
  }
}
