@if (known) {
  <div class="contact-container-details">
    <div (click)="onContactClick()">
      <div class="contact-container-image">
        <img [ngSrc]="chat.picture_url" width="50" height="50" alt=""/>
      </div>
      <div class="contact-container-informations">
        <div class="contact-container-name">{{ chat.name }}</div>
        @if (!chat.is_group) {
          <div class="contact-container-status" [ngClass]="isContact(chat) ? 'status-' + chat.status : 'status-default'">
            {{ isContact(chat) ? (ContactStatusDisplay[chat.status] !== undefined ? ContactStatusDisplay[chat.status] : 'Unbekannter Status: ' + chat.status) : 'Kein Status übermittelt' }}
          </div>
        }
      </div>
      @if (!chat.is_group && isContact(chat)) {
        <div class="contact-container-streak">
          <span>🔥 {{ chat.streak }}</span>
        </div>
      } @else {
        <div class="streak-placeholder"></div>
      }
      <div class="contact-container-button" (click)="$event.stopPropagation()">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  </div>
<mat-menu #menu="matMenu">
  @if (isGroup(chat)) {
    <button mat-menu-item (click)='onOptionSelectGroup("edit")'>
      <span>Gruppe bearbeiten</span>
    </button>
    <button mat-menu-item (click)='onOptionSelectGroup("leave")'>
      <span>Gruppe verlassen</span>
    </button>
  } @else if (isContact(chat)) {
    @if (chat.status == 'friend' || chat.status == 'pending_friend') {
      <button mat-menu-item (click)='onOptionSelect("unfriend")'>
        <span>Entfreunden</span>
      </button>
      <button mat-menu-item (click)='onOptionSelect("block")'>
        <span>Blockieren</span>
      </button>
    } @else if (chat.status == 'block'){
      <button mat-menu-item (click)='onOptionSelect("unblock")'>
        <span>Entblockieren</span>
      </button>
    } @else if (chat.status == 'fpending_friend' || chat.status == 'new' || chat.status == 'ntcon'){
      <button mat-menu-item (click)='onOptionSelect("friend")'>
        <span>Befreunden</span>
      </button>
      <button mat-menu-item (click)='onOptionSelect("block")'>
        <span>Blockieren</span>
      </button>
    } @else if (chat.status == 'last_words'){
      <button mat-menu-item (click)='onOptionSelect("block")'>
        <span>Blockieren</span>
      </button>
    } @else if (chat.status == 'timeout'){

    }
  }
</mat-menu>
} @else {
  <div class="contact-container-details">
    <div (click)="onContactClick()">
      <div class="contact-container-image">
        <img [ngSrc]="chat.picture_url" width="50" height="50" alt=""/>
      </div>
      <div class="contact-container-informations">
        <div class="contact-container-name">{{ chat.name }}</div>
      </div>
    </div>
  </div>
}