@use "../../styles.scss" as global;

.contact-container-details {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 10px;
  // padding: 10px;
  width: 100%;
  border-bottom: 1px solid var(--mat-sys-outline-variant);


  &:hover {
    background-color: var(--mat-sys-surface-container-high);
    cursor: pointer;

    button[mat-icon-button] {
      visibility: visible;
      opacity: 1;
    }
  }

  > div:first-child {
    display: contents;

    .contact-container-image {
      aspect-ratio: 1 / 1;
      height: 50px;
      border-radius: 50%;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;

      img {
        border-radius: 50%;
      }
    }

    .contact-container-informations {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .contact-container-status {
      display: block;
      font: var(--mat-sys-body-small);
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.status-friend {
        color: #3ED978;
      }

      &.status-pending_friend {
        color: #c18719;
      }

      &.status-fpending_friend {
        color: #2196F3;
      }

      &.status-last_words {
        color: #795548;
      }

      &.status-block {
        color: #d73b14;
      }

      &.status-fblocked {
        color: #9C27B0;
      }

      &.status-new {
        color: #C8D8F9;
      }

      &.status-timeout {
        color: #9E9E9E;
      }

      &.status-default {
        color: #757575;
      }
    }
  }

  .contact-container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  button[mat-icon-button] {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    align-self: center;
  }
}