@use "../../styles.scss" as global;

.contact-list-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  min-width: 350px;
  height: 100%;
  min-height: 700px;
  background-color: var(--mat-sys-surface-container);
  color: var(--mat-sys-on-surface);

  border-width: 0;
  border-top: 1px solid var(--mat-sys-outline);
  // border-right is defined in chat-window-component, chat-input; / placeholder, because I don't want the outline to conflict with the chat window header primary color
  border-bottom: 1px solid var(--mat-sys-outline);
  border-left: 1px solid var(--mat-sys-outline);

  @media (max-width: 1500px) {
    width: 20vw;
  }

  .contact-list {
    flex: 1; // This allows the list to take remaining space
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;

    border-top: 1px solid var(--mat-sys-outline);
  }

  .contact-list-header {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: var(--mat-sys-primary);
    font: var(--mat-sys-title-large);
  }

  .contact-list-search-add {
    padding: 10px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);

    .search-container {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        flex: 1;
        padding: 5px;
        border-radius: 4px;
        border: none;
        color: var(--mat-sys-on-surface);
        background-color: var(--mat-sys-surface-container-highest);
        outline: none;
        box-shadow: var(--mat-sys-level2);
        height: 40px;
      }

      .fab-button {
        width: 40px;
        height: 40px;
        line-height: 20px;
        padding: 5px;
      }
    }
  }
}