<div class="contact-list-container">
  <app-contact-list-header/>
  <app-contact-list-search-bar/>
  <div class="contact-list">
    @if (this.contactService.contacts().length > 0 && !this.contactService.isLoading()) {
      @for (contact of this.contactService.contacts(); track contact.contact_id) {
        <contact-container
          [chat]="contact"
          (contactClick)="openChat($event)"
        ></contact-container>
      }
    } @else if (this.contactService.isLoading()) {
      <ng-container>
        <img ngSrc="assets/duckduckgoes.gif" width="383" height="480" alt="Loading..."/>
      </ng-container>
    } @else {
      <ng-container>
        <h2>No contacts found</h2>
      </ng-container>
    }
  </div>
</div>