<div class="contact-list-container">
  <ng-container>
    <div class="contact-list-header">
      <h4>Chats</h4>
    </div>
    <div class="contact-list-search-add">
      <div class="search-container">
        <input type="text" placeholder="Kontakte oder Gruppen suchen" #searchBox
               (keyup)="searchContacts(searchBox.value)"/>
        <button mat-fab (click)="createNewGroup()" color="primary" class="fab-button" aria-label="Gruppe erstellen">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
  <div class="contact-list">
    @if (!this.contactService.isLoading()) {
      @if (searchBox.value && this.filteredContacts().length > 0) {
        @for (contact of this.filteredContacts(); track contact.contact_id) {
          <contact-container
            [chat]="contact"
            [known]="true"
            (contactClick)="openChat($event)"
            (optionSelect)="selectOption(contact.contact_id, $event)"
            (optionSelectGroup)="selectOptionGroup(contact, $event)"
          />
        }
      } @else if (!searchBox.value && this.contactService.contacts().length > 0) {
        @for (contact of this.contactService.contacts(); track contact.contact_id) {
          <contact-container
            [chat]="contact"
            [known]="true"
            (contactClick)="openChat($event)"
            (optionSelect)="selectOption(contact.contact_id, $event)"
            (optionSelectGroup)="selectOptionGroup(contact, $event)"
          />
        }
      } @else {
        <ng-container>
          <p>Keine vorhandenen Chats</p>
        </ng-container>
      }
    } @else {
      <ng-container>
        <img ngSrc="assets/UMOCUS.gif" width="383" height="480" alt="Loading..."/>
      </ng-container>
    }

    @if (this.searchResults().length > 0) {
      <p>Neue Chats:</p>
      @for (newContact of this.searchResults(); track newContact.contact_id) {
        <contact-container
          [chat]="newContact"
          [known]="false"
          (contactClick)="openChat($event)"
        />
      }
    }
  </div>
  <app-own-contact/>
</div>