<div class="contact-list-container">
  <app-contact-list-header/>
  <app-contact-list-search-bar/>
  <div class="contact-list">
    @if (this.contactService.contacts().length > 0 && !this.contactService.isLoading()) {
      @for (contact of this.contactService.contacts(); track contact.contact_id) {
        <contact-container
          [chat]="contact"
          (contactClick)="openChat($event)"
        ></contact-container>
      }
    } @else if (this.contactService.isLoading()) {
      <ng-container>
        <img ngSrc="assets/UMOCUS.gif" width="383" height="480" alt="Loading..."/>
      </ng-container>
    } @else {
      <ng-container>
        <h2>No contacts found</h2>
      </ng-container>
    }
    <button mat-fab [matMenuTriggerFor]="menu" color="primary" class="fab-button" aria-label="Kontakt hinzufügen">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <app-own-contact/>
</div>

<mat-menu #menu="matMenu">
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>group</mat-icon>
  </button>
</mat-menu>