@import "../../styles.scss";

.chat-window-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 80vh;
  
    .chat-header {
      padding: 15px;
      background-color: $chat-window-alternative;
      cursor: pointer;
      font-weight: bold;
    }
  
    .chat-messages {
      flex: 1;
      overflow-y: auto;
      padding: 20px;
      background-color: $chat-window-back;
    }
  }