<ng-container>
  <div class="chat-window-container">
    <app-chat-header
      [selectedUser]="this.contactService.selectedContact()"
      (infoSelect)="this.contactService.selectContactToEdit($event)"
    />
    <div #messagesContainer
         class="chat-messages"
         [class.loading]="this.chatService.isLoading()"
         [class.alt-bg]="this.umocService.showDuckBackground()">
      @if (this.chatService.currentChatHistory().length > 0 && !this.chatService.isLoading()) {
        @if (this.websocket.earlyMessages().length > 0) {
          @for (earlyMessage of this.websocket.earlyMessages(); track earlyMessage.sender_id){
            <div>
              {{earlyMessage.sender_username}}<br>
              {{earlyMessage.content}}
            </div>
          }
        }
        @for (message of this.chatService.currentChatHistory().slice().reverse(); track message.message_id) {
          <app-message
            [message]="message"
            [currentUser]="this.currentUser"
            [isGroupChat]="this.contactService.selectedContact()?.is_group || false"/>
        }
      } @else if (this.chatService.isLoading()) {
        <div>
          <img ngSrc="assets/UMOCUS.gif" priority width="383" height="480" alt="Loading..."/>
        </div>
      } @else {
        <div class="no-messages">
          <h2>No messages yet</h2>
        </div>
      }
    </div>
    <app-chat-input [recipientID]="this.contactService.selectedContact()!.contact_id"></app-chat-input>
  </div>
</ng-container>
