<form class="chat-input-container" (ngSubmit)="saveMessage(messageInput.value); messageInput.value=''; adjustTextareaHeight()">
  <app-chat-input-extras/>
  <div class="input-wrapper">
    <app-chat-input-emojis/>
    <textarea 
      #messageInput
      name="message" 
      ngModel 
      required
      placeholder="Nachricht schreiben"
      (keydown)="onKeydown($event)"
      (keyup)="onKeyUp($event)"
      (input)="adjustTextareaHeight()"
      rows="1"></textarea>
  </div>
  <button mat-icon-button type="submit" [disabled]="!messageInput.value.trimStart()">
    <mat-icon>send</mat-icon>
  </button>
</form>
