<div class="umoc-shop-container">
  <h1>UMOC-Shop</h1>

  <div class="card-container">
    @for (item of this.umocService.itemTypes(); track item.item_name) {
      <mat-card class="item-card" (click)="this.umocService.buyItem(item.item_name)">
        <mat-card-content>
          <div class="item-icon">{{ item.icon }}</div>
          <div class="item-details">
            <div class="item-name">{{ ItemNameDisplay[item.item_name] }}</div>
            <div class="item-price">{{ item.price }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>

  <h1>Inventar</h1>

  <div class="card-container">
    @for (item of this.umocService.inventory(); track item.item_name) {
      <mat-card class="item-card">
        <mat-card-content>
          <div class="item-icon">{{ item.icon }}</div>
          <div class="item-details">
            <div class="item-name">{{ ItemNameDisplay[item.item_name] }}</div>
            <div class="item-price">{{ item.amount }}x</div>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>