.umoc-shop-container {
  width: 50vw;
  height: 100%;
  flex: 1;
  border: 1px solid var(--mat-sys-outline);
  background-color: var(--mat-sys-surface-bright);
  position: relative;
  overflow: hidden;
}