<div class="umoc-shop-container">
  <h1 class="shop-title">UMOC-Shop</h1>

  <div class="card-container">
    @for (item of this.umocService.itemTypes(); track item.item_name) {
      <mat-card class="item-card"
                [class.disabled-item]="this.umocService.pointCount() < item.price"
                (click)="this.umocService.pointCount() >= item.price && this.umocService.buyItem(item)"
      >
        <mat-card-content>
          <div class="item-icon">{{ item.icon }}</div>
          <div class="item-details">
            <div class="item-name">{{ ItemNameDisplay[item.item_name] }}</div>
            <div class="item-price">{{ item.price }} Pkt.</div>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
  <div class="points-display">{{ this.umocService.pointCount() }} Punkte</div>
  <hr>
  <h1 class="shop-title">Inventar</h1>

  <div class="card-container">
    @for (item of this.umocService.inventory(); track item.item_name) {
      <mat-card class="item-card">
        <mat-card-content>
          <div class="item-icon">{{ item.icon }}</div>
          <div class="item-details">
            <div class="item-name">{{ ItemNameDisplay[item.item_name] }}</div>
            <div class="item-price">{{ item.amount }}x</div>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>