@use "../styles.scss" as global;

// Irgendwas aus Stackoverflow um Margin in Angular zu removen.
::ng-deep * { 
    margin: 0;
    padding: 0;
  }

.app-background {
    background: linear-gradient(global.$global-background-top 15%, global.$global-background-bottom 15%);
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    .app-container {
        display: flex;
    }
}
