<div class="app-background">
  <div class="app-container">
    <app-ad-banner
      [hidden]="!this.umocService.showAdBanners()"
      [imageSrc]="'assets/UMOCUS-ad.gif'"
      [videoSrc]="'https://cdn.revid.ai/minecraft/bg-1.mp4'"
      [altText]="'AD'"
    />

    @if (this.loginService.userLoggedIn()) {
      <app-contact-list/>
      <div class="chat-area">
        @if (this.umocService.showShop()) {
          <app-umoc-shop/>
        } @else if (this.contactService.selectedContact()) {
          <app-chat-window/>
        } @else {
          <app-chat-placeholder/>
        }
        @if (this.contactService.showInfoOf()) {
          <app-info-window/>
        }
      </div>
    } @else {
      <login-field/>
    }
    <app-ad-banner
      [hidden]="!this.umocService.showAdBanners()"
      [imageSrc]="'https://gifdb.com/images/high/gummibar-gummy-bear-break-dance-fortnite-dance-7lonn1izgkap3jj1.gif'"
      [videoSrc]="'https://cdn.revid.ai/backgrounds/fortnite/video_lowres_4.mp4'"
    />
  </div>
</div>
