@use "../../styles.scss" as global;

.message-container {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px black; //global.$message-box-shadow;
    max-width: 80%;
    word-wrap: break-word;
    position: relative;

  &.message-sent {
    // background-color: global.$message-sent-background;
    margin-left: auto;
  }

  &.message-received {
    // background-color: global.$message-received-background;
    margin-right: auto;
  }

  .message-timestamp {
    font-size: 0.7em;
    color: #888;
    text-align: right;
    margin-top: 5px;
  }
}

.no-messages {
  text-align: center;
  padding: 20px;
  color: #888;
}
