@use "../../styles.scss" as global;

:root {
  --message-text-color-light: #000;
  --message-text-color-dark: #fff;
  --message-text-color: var(--message-text-color-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --message-text-color: var(--message-text-color-light);
  }
}

.message-container {
  --r: 1em;
  --t: 1.5em;
  --message-custom-color: #fe6d00;
 
  max-width: 80%;
  padding: 1em;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t)) / var(--r);
  mask: radial-gradient(100% 100% at var(--_p) 0, #0000 99%, #000 102%) var(--_p) 100%/var(--t) var(--t) no-repeat,
  linear-gradient(#000, #000) padding-box;
  position: relative;

  // Löschfunktion nur für eigene Nachrichten
  &.message-sent {
    &:hover {
      .message-overlay {
        opacity: 0.7;
      }
    }
  }

  &:hover {
    .delete-icon {
      display: flex;
    }
  }

  .message-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
    z-index: 1;
  }

  .delete-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    mat-icon {
      color: black;
    }
  }


  &.message-received {
    --_p: 0;
    border-bottom-left-radius: 0 0;
    place-self: start;
    background: linear-gradient(135deg, var(--mat-sys-secondary-container), var(--mat-sys-secondary-container)) border-box;
    
    .message-text {
      color: var(--message-text-color);

      .emoji {
        color: initial;
        background-clip: initial;
        background-image: none;
      }
    }
  }

  &.message-sent {
    --_p: 100%;
    border-bottom-right-radius: 0 0;
    place-self: end;
    background: linear-gradient(135deg, var(--mat-sys-tertiary-container), var(--mat-sys-primary-container)) border-box;

    .message-text {
      color: var(--message-text-color);

      .emoji {
        color: initial;
        background-clip: initial;
        background-image: none;
      }
    }
  }

  .message-text {
    white-space: pre-wrap;
    word-wrap: break-word;

    color-scheme: light;

    position: relative;
    z-index: 0;

  }

  .message-sender {
    margin-bottom: 4px;
    font-weight: bold;
    font: var(--mat-sys-title-medium);
    margin-top: -10px;
    position: relative;
    z-index: 0;
  }

  .message-timestamp {
    font: var(--mat-sys-body-small);
    color: var(--mat-sys-on-primary-container);
    text-align: right;
    margin-top: 5px;
    margin-bottom: -10px;
    position: relative;
    z-index: 0;
  }
}

.no-messages {
  text-align: center;
  padding: 20px;
  color: #888;
  font: var(--mat-sys-body-large);
}
.deleted-message {
  color: red;

  .deleted-message-content {
    color: initial; // Oder eine spezifische Farbe für den Inhalt
  }
}