<div class="member-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <img mat-card-avatar [ngSrc]="member!.picture_url" width="58" height="58" alt="img">
      <mat-card-title>
        {{member!.name}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <mat-button-toggle>Admin</mat-button-toggle>
      <button mat-fab color="primary" class="fab-button" aria-label="Mitglied entfernen">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>