/* You can add global styles to this file, and also import other style files */

$global-background-top: #424242;
$global-background-bottom: #a6a6a6;

$light-red: #ff9999;
$dark-red: #ff3030;

$chat-window-alternative: #f1f1f1;
$chat-window-back: #e9e9e9;

$white: #f0f0f0;

$contact-container-default-image: #aaa;
$contact-list-hover: #f0f0f0;

$contact-list-back: #fafafa;
$contact-list-alternative: #f1f1f1;

$contact-list-border: #ccc;

$message-back: #e1e1ff;
$message-box-shadow: rgba(0, 0, 0, 0.1);