.chat-input-extras {
    button {
        border: none;
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 0;
        font-size: 30px;
        color: var(--mat-sys-primary);
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}