<ng-container>
  <div class="info-window-container">
    <button mat-icon-button class="close-button" (click)="closeInfoWindow()">
      <mat-icon>close</mat-icon>
    </button>
    @if (contactService.showInfoOf(); as chat) {
      @if (canEdit()) {
        <div class="profile-image-container">
          <img [ngSrc]="chat.picture_url" width="116" height="116" alt="{{isGroup(chat) ? 'Group' : 'Contact'}} image"
               class="profile-image">
          <button mat-icon-button class="edit-button" (click)="editProfilePicture(chat.contact_id)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      } @else {
        <img [ngSrc]="chat.picture_url" width="116" height="116" alt="{{isGroup(chat) ? 'Group' : 'Contact'}} image">
      }
      <mat-card appearance="raised">
        <mat-card-header>
          <div class="name-container">
            @if (isEditing) {
              <input #nameInput [value]="chat.name" (keyup.enter)="finishEditing(chat.contact_id, nameInput.value)" (blur)="cancelEditing()">
            } @else {
              <p class="editable-text">{{ chat.name }}</p>
              @if (canEdit()) {
                <button mat-icon-button class="edit-button" (click)="startEditing()">
                  <mat-icon>edit</mat-icon>
                </button>
              }
            }
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="contact-info">
            <p>{{ chat.contact_id }}</p>
            @if (isGroup(chat)) {
              <p>Erstellt am: {{ chat.created_at.toString() }}</p>
            } @else {
              <p>Streak: {{ chat.streak }}</p>
            }
          </div>
        </mat-card-content>
        @if (isGroup(chat) && canEdit()) {
          <mat-card-actions>
            <button mat-fab color="primary" class="fab-button" aria-label="Gruppe Löschen"
                    (click)="deleteGroup(chat.contact_id)"
                    [disabled]="pressed">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        }
      </mat-card>

      @if (isGroup(chat)) {
        <mat-card appearance="raised">
          <mat-card-header>
            <p>Members</p>
          </mat-card-header>
          <mat-card-content>
            @for (member of chat.members; track member.user_id) {
              <app-member-container
                [member]="member"
                [editable]="canEdit()"
                (adminChange)="onAdminChange($event, chat.contact_id, member.user_id)"
                (removeMember)="onRemoveMember(chat.contact_id, member.user_id)"
              />
            }
          </mat-card-content>
          @if (canEdit()) {
            <mat-card-actions class="member-search">
              <input
                type="text"
                placeholder="Neue Member suchen"
                #searchBox
                (keyup)="searchNewMembers(searchBox.value)"
              />
            </mat-card-actions>                      
          }
          <mat-card-content>
            @if (this.searchResults().length > 0) {
              <div class="member-search-results-container">
                <div class="results-title">Neue Member:</div>
                <div class="member-search-results">
                  @for (newMember of this.searchResults(); track newMember.contact_id) {
                    <contact-container
                      [chat]="newMember"
                      [known]="false"
                      (contactClick)="addMember($event)"
                    />
                  }
                </div>
              </div>
            }
          </mat-card-content>          
        </mat-card>
      }

      @if (isContact(chat) && canEdit()) {
        <mat-card>
          @if (changingPassword) {
            <mat-card-content>
              <form [formGroup]="passwordForm" (ngSubmit)="onSubmitNewPassword()">
                <input
                  type="password"
                  id="old_password"
                  formControlName="old_password"
                  placeholder="Altes Passwort eingeben"
                  [class.invalid]="passwordForm.controls['old_password'].invalid && !passwordForm.controls['old_password'].untouched"
                />
                @if (passwordForm.controls['old_password'].invalid && !passwordForm.controls['old_password'].untouched) {
                  <div class="error-message">Altes Passwort ist erforderlich</div>
                }

                <input
                  type="password"
                  id="new_password"
                  formControlName="new_password"
                  placeholder="Neues Passwort eingeben"
                  [class.invalid]="passwordForm.controls['new_password'].invalid && !passwordForm.controls['new_password'].untouched"
                />
                @if (passwordForm.controls['new_password'].invalid && !passwordForm.controls['new_password'].untouched) {
                  <div class="error-message">Neues Passwort ist erforderlich</div>
                }

                <input
                  type="password"
                  id="confirm_new_password"
                  formControlName="confirm_new_password"
                  placeholder="Neues Passwort wiederholen"
                  [class.invalid]="passwordForm.controls['confirm_new_password'].invalid && !passwordForm.controls['confirm_new_password'].untouched"
                />
                @if (passwordForm.get('new_password')?.value != passwordForm.get('confirm_new_password')?.value && !passwordForm.controls['confirm_new_password'].untouched) {
                  <div class="error-message"> Neue Passwörter müssen übereinstimmen</div>
                }

                <button mat-fab type="submit" [disabled]="passwordForm.invalid || passwordForm.get('new_password')?.value != passwordForm.get('confirm_new_password')?.value">
                  Passwort ändern
                </button>
              </form>
            </mat-card-content>
          } @else {
            <mat-card-content>
              <button mat-fab (click)="changingPassword = true">
                Passwort ändern
              </button>
            </mat-card-content>
          }
        </mat-card>

        <button mat-fab (click)="logout()" color="primary" class="logout-button" aria-label="Ausloggen">
          <mat-icon>logout</mat-icon>
        </button>
      }
    }
  </div>
</ng-container>